/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/9.4.1/checksums/checksums.lock
/.gradle/9.4.1/executionHistory/executionHistory.lock
/.gradle/9.4.1/fileHashes/fileHashes.bin
/.gradle/9.4.1/fileHashes/fileHashes.lock
/.gradle/9.4.1/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/compiler.xml
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/build/reports/problems/problems-report.html
/.gradle/9.4.1/fileChanges/last-build.bin
/.idea/misc.xml
/HELP.md
